<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Home Page</title>
</head>
<body>
    <h2>Welcome to my team !!!</h2>

    <hr>

    <!-- Display user name and role -->
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

    <hr>

    <div sec:authorize="hasRole('MANAGER')">
        <!-- Add feature for Manager -->
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
            (Only for leaders)
        </p>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/systems}">IT Systems Meeting</a>
            (Only for Admin)
        </p>
    </div>

    <hr>

    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>